{% extends 'base.html' %}
{% load static %}

{%block content %}
    <div class="row col-md-10 col-md-offset-1">
        <h3 align="center">Please select event categories</h3>
    </div>

    <div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form action="show/" method="post">
            
            You can select <span id = "count"> 3 </span> more categories.
            {% for category in categories %}
            <div class="checkbox"> 
                <label> 
                    <input type = "checkbox" 
                           name = "categories" 
                           value = '{{category.category_id}}' 
                           aria-label ='{{category.category_id}}'>
                   {{category.name}}
                </label>
            </div>

            {%endfor%}
            {% csrf_token %}
            <button type="submit" class="btn btn-default" disabled="true" id ="submit">Submit</button>
        </form>
    </div>
    </div>
{%endblock%}

{%block script %}
<script src="{%static 'js/main.js'%}"></script>
{%endblock%}